<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DingDong-VNPost.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.2.8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
				<key>dateExpires</key>
				<string>14/03/2025</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire_SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DeviceUtil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DownPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.34</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EFQRCode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LSDialogViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15174</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxDirections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>0.30.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15174</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>0.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PageMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Polyline.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RadioGroup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SignaturePad.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SweeterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEventBus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLActionController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>743B666A1D415B7B81594775E9B6200194CF73DA</string>
						<key>dateExpires</key>
						<string>14/03/2025</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>69KV48267Q</string>
						<key>name</key>
						<string>VIETNAM POST</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>69KV48267Q.vn.vnpost.dingdong</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>69KV48267Q</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DingDong-VNPost.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cf85deb1-f363-4f85-8f2c-05bfa9c89226</string>
				<key>dateExpires</key>
				<string>31/03/2023</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: vn.vnpost.dingdong</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>69KV48267Q</string>
				<key>name</key>
				<string>VIETNAM POST</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
