<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaynetOne.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
				<key>dateExpires</key>
				<string>28/03/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
						<key>dateExpires</key>
						<string>28/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GUCW5R486</string>
						<key>name</key>
						<string>Tran Trong Kiet</string>
					</dict>
					<key>versionNumber</key>
					<string>5.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
						<key>dateExpires</key>
						<string>28/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GUCW5R486</string>
						<key>name</key>
						<string>Tran Trong Kiet</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
						<key>dateExpires</key>
						<string>28/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GUCW5R486</string>
						<key>name</key>
						<string>Tran Trong Kiet</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
						<key>dateExpires</key>
						<string>28/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StepIndicator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GUCW5R486</string>
						<key>name</key>
						<string>Tran Trong Kiet</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
						<key>dateExpires</key>
						<string>28/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GUCW5R486</string>
						<key>name</key>
						<string>Tran Trong Kiet</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59ED2D42DF8CC39B23D08DAE7B6B4ADE796A48BB</string>
						<key>dateExpires</key>
						<string>28/03/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GUCW5R486</string>
						<key>name</key>
						<string>Tran Trong Kiet</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8GUCW5R486.vinatti.com.vn.PaynetOne</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8GUCW5R486</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PaynetOne.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>011daa91-7cad-4b4f-b593-d0a53238e906</string>
				<key>dateExpires</key>
				<string>04/04/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8GUCW5R486</string>
				<key>name</key>
				<string>Tran Trong Kiet</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
